# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarised.

 **Objectives**:
 - master formatting markdown cells
 - perform simple arithmetic 
 - list libraries used in Data Science
 - adding comments to a cell
 - go aver topics learned in the course

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. PyTorch
3. NumPy
4. Pandas

|  Data Science Tools |
| --- | 
|RStudo|
|Apache Spark|
|TensorFlow|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200 /60

3.3333333333333335

## Author
Katya Hutton